/* Header-search  */
.btn p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.header-search {
    margin-bottom: 30px;
    padding: 25px 0;
}

.input {
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.input:focus {
    border: 1px solid #5c9963;
}

.search_wrap .search_box{
	position: relative;
	width: 700px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #5c9963;
	z-index: 1;
	cursor: pointer;
    right: 0%;
    border-radius: 50px;
    width: 125px;
	height: 48px;
	top: 6px;
	right: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_wrap .search_box .btn:hover {
    background-color: #528959;
}

.search_wrap .search_box .input {
    border-radius: 50px;
}

.icon-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    justify-items: center;
    margin-bottom: -16px;
}

.icon-block {
    margin-top: 8px;
}

.icon-section .fa-icon {
    font-size: 25px;
    margin: 10px 20px;
    color: rgb(153, 152, 152); 
}

.icon-section .fa-icon:hover {
    color: #5c9963;
    cursor: pointer;
}

/*Header-menu*/
.menu-block {
    margin-left: 220px;
}
.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    margin-right: 30px;
    font-size: 16px;
}